{% extends "base.html" %} {% block content %}
<!-- Main Content -->
<h1>{{ your_Name }}</h1>
<div class="main">
    <div class="main-w3l">
        <h1 class="logo-w3">Kiểm tra thông tin lịch hẹn</h1>

        <div class="w3layouts-main">
            <!--  -->
            <div>
                <label for="">Họ và Tên</label><br>
                <label for="">Tuổi</label><br>
                <label for="">Số điện thoại</label><br>
                <label for="">SCMNN/SBHYT</label><br>
                <label for="">Địa chỉ</label><br>
                <label for="">Quận/Huyện</label><br>
                <label for="">Bệnh viện</label><br>
                <label for="">Khung giờ</label><br>
            </div>
        </div>
        <h1 class="logo-w3">Hồ sơ bệnh án</h1>
        <div class="w3layouts-main1">
            <!--  -->
            <div>
                <label for="">Họ và Tên</label><br>
                <label for="">Tuổi</label><br>
                <label for="">Số điện thoại</label><br>
                <label for="">SCMNN/SBHYT</label><br>
                <label for="">Địa chỉ</label><br>
                <label for="">Quận/Huyện</label><br>
                <label for="">Bệnh viện</label><br>
                <label for="">Khung giờ</label><br>
            </div>
        </div>
        <!-- //main -->
        <!--footer-->
        <div class="footer-w3l">
            <p>&copy; Crush Caring 2020</p>
        </div>
        <!--//footer-->
    </div>
</div>
<!-- //Main Content -->
{% endblock content %}